body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,69,157,1) 35%, rgba(0,212,255,1) 100%);
}

.brownboard {
    background-color: #9d7445;
    padding: 13px;
}

.container {
    /* Content is centered horizontally */
    align-items: center;
    display: flex;
    justify-content: center;

}

.column {
    /* Content is centered vertically */
    align-items: center;
    flex-direction: column;
    justify-content: center;

    /* Make all columns have the same width */

    /* OPTIONAL: Space between columns */
    margin: 0 8px;

    /* OPTIONAL: Border */
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.score{
    width: 100px;
    height: 150px;
}

.pointer {
    cursor: pointer;
}

.pit{

    text-align: center;
    height: 31px;
    width: 31px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

}

.playerATextColor {
    color:black;
    font-weight: bold;
}

.playerBTextColor {
    color:blue;
    font-weight: bold;
}

.resultBoard{
    width: 30%;
    margin: auto;
    border-radius: 20%;
    border: 3px solid black;
    background-color: #9d7445
}