<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Marco: Macala</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
 <div th:text="${error}"></div>
</body>
</html>
