<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Marco: Macala</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <form style="text-align:center;" action="#" th:action="@{/createnewgame}" method="get">
        <span><input type="submit" value="create new game"/></span>
    </form>
</div>
<br/>
<div class="container">
    <form action="#" name="getMatchForm" th:action="@{/}" method="get">
        <span>MatchId:</span>
        <span><input id="matchIdTextField" type="text" size="35" name="matchId" data-th-object="${model}"
                     th:field="${match.uniqueMatchId}"></span>
        <span><input id="activePlayer" type="hidden" name="activePlayer" th:value="${activePlayer}"></span>
        <span><input id="getStatsButton" type="submit" value="get stats"/></span>
    </form>
</div>
<br/>
<br/>
<div class="container">

    <div class="column brownboard">
        <div id="PlayerABox" style="display:flex" th:if="${activePlayer != match.playerModelB.uniqueId}">
            <span class="playerATextColor">Player A:&nbsp;</span>
            <span><input id="uniquePlayerIdA" th:field="${match.playerModelA.uniqueId}" type="text" size="35"/></span>
            <span><button type="button" th:onclick="setCurrentPlayer('uniquePlayerIdA')">claim</button></span>
        </div>
    </div>

    <div class="column brownboard">
        <div id="PlayerBBox" style="display:flex" th:if="${activePlayer != match.playerModelA.uniqueId}">
            <span class="playerBTextColor">Player B:&nbsp;</span>
            <span><input id="uniquePlayerIdB" th:field="${match.playerModelB.uniqueId}" type="text" size="35"/></span>
            <span><button type="button" th:onclick="setCurrentPlayer('uniquePlayerIdB')">claim</button></span>
        </div>
    </div>

</div>
<br/>
<div class="container">
    <div class="column brownboard">
        <span th:if="${match.isPlayerATurn}" class="playerATextColor">PLAYER A TURN</span>
        <span th:if="${!match.isPlayerATurn}" class="playerBTextColor">PLAYER B TURN</span>
    </div>
</div>
<br/>
<div class="container">
    <div class="column score brownboard">
            <span id="playerAScore" class="playerBTextColor score"
                  th:text="${'Score: ' + match.playerModelB.totalScore}"></span><br/>
        <span id="playerAScorePool" class="playerBTextColor score" th:text="${match.playerModelB.totalScore}"></span>
    </div>
    <div class="column brownboard">
        <div class="container playerBTextColor">
            <div class="column pointer pit" th:text="${match.playerModelB.pits['FIRST']}"
                 th:onclick="sendCommand('FIRST')">FIRST
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('SECOND')"
                 th:text="${match.playerModelB.pits['SECOND']}">SECOND
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('THIRD')"
                 th:text="${match.playerModelB.pits['THIRD']}">THIRD
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('FOURTH')"
                 th:text="${match.playerModelB.pits['FOURTH']}">FOURTH
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('FIFTH')"
                 th:text="${match.playerModelB.pits['FIFTH']}">FIFTH
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('SIX')"
                 th:text="${match.playerModelB.pits['SIX']}">SIX
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="container playerATextColor">
            <div class="column pointer pit" th:onclick="sendCommand('FIRST')"
                 th:text="${match.playerModelA.pits['FIRST']}">FIRST
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('SECOND')"
                 th:text="${match.playerModelA.pits['SECOND']}">SECOND
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('THIRD')"
                 th:text="${match.playerModelA.pits['THIRD']}">THIRD
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('FOURTH')"
                 th:text="${ match.playerModelA.pits['FOURTH']}">FOURTH
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('FIFTH')"
                 th:text="${match.playerModelA.pits['FIFTH']}">FIFTH
            </div>
            <div class="column pointer pit" th:onclick="sendCommand('SIX')"
                 th:text="${match.playerModelA.pits['SIX']}">SIX
            </div>
        </div>
    </div>
    <div class="column score brownboard">
        <span id="playerBScore" class="playerATextColor" th:text="${'Score: ' + match.playerModelA.totalScore}"></span> <br/>
        <span id="playerBScorePool" class="playerATextColor" th:text="${match.playerModelA.totalScore}"></span>
    </div>
</div>
</body>
</html>

<script>

    var currentPlayer = '';

    window.onload = onPageLoad;



    function sendCommand(value){
        if(currentPlayer === ''){
            alert('You have not claimed a player yet');
            return;
        }

        let matchId =  document.getElementById('matchIdTextField').value;
        let url = `http://localhost:8080/v1/game/${matchId}/player/${currentPlayer}/command`;

        let command = {
            "pit": value
        }

        fetch(url,{
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(command)
        }).then(response =>{
            document.getElementById("getStatsButton").click();
        });

    }

    function setCurrentPlayer(value){
        if(value === 'uniquePlayerIdA'){
          currentPlayer = document.getElementById('uniquePlayerIdA').value;
          document.getElementById('PlayerBBox').style.visibility = 'hidden';
        } else if(value === 'uniquePlayerIdB'){
          currentPlayer = document.getElementById('uniquePlayerIdB').value;
          document.getElementById('PlayerABox').style.visibility = 'hidden';
        }
        document.getElementById('activePlayer').value = currentPlayer;
        console.log(currentPlayer);
    }

    function getCurrentPlayer(){
        console.log('getCurrentPlayer');
        console.log(document.getElementById('activePlayer').value);
        currentPlayer = document.getElementById('activePlayer').value;
    }

    function updateScoreText(){
        let playerAScore = document.getElementById("playerAScorePool").outerText;
        document.getElementById('playerAScorePool').outerText = "[x]".repeat(playerAScore);


        let playerBScore = document.getElementById("playerBScorePool").outerText;
        document.getElementById('playerBScorePool').outerText = "[x]".repeat(playerBScore);
    }

    function refreshPage(){
        let timeToRefreshInMilliseconds = 1000 * 3;

          setInterval(function() {
            if(currentPlayer !== ''){
                document.getElementById("getStatsButton").click();
            }
        }, timeToRefreshInMilliseconds);
    }


    function onPageLoad(){
        getCurrentPlayer();
        updateScoreText();
        refreshPage();
    }



</script>