<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Marco: Macala</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>

<form action="#" name="executeCommandForm" th:action="@{/executeCommand}" method="get">
    <input type="hidden" name="command" id="hiddenCommandText"/>
    <span><input style="visibility:hidden" type="hidden" name="activePlayer" th:value="${activePlayer}"></span>
    <span><input style="visibility:hidden" name="matchId" type="hidden" data-th-object="${model}"
                 th:field="${match.uniqueMatchId}"></span>
    <span><input style="visibility:hidden" id="submitCommandButton" type="submit" value="submit command"/></span>
</form>
<div class="container">
    <form style="text-align:center;" action="#" th:action="@{/createnewgame}" method="get">
        <span><input type="submit" value="create new game"/></span>
    </form>
</div>
<br/>
<div class="container">
    <form action="#" name="getMatchForm" th:action="@{/}" method="get">
        <span>MatchId:</span>
        <span><input id="matchIdTextField" type="text" size="35" name="matchId" data-th-object="${model}"
                     th:field="${match.uniqueMatchId}"></span>
        <span><input id="activePlayer" type="hidden" name="activePlayer" th:value="${activePlayer}"></span>
        <span><input id="getStatsButton" type="submit" value="get stats"/></span>
    </form>
</div>
<br/>
<br/>
<div class="container">

    <div class="column brownboard">
        <div id="PlayerABox" style="display:flex" th:if="${activePlayer != match.playerModelB.uniqueId}">
            <span class="playerATextColor">Player A:&nbsp;</span>
            <span><input id="uniquePlayerIdA" th:field="${match.playerModelA.uniqueId}" type="text" size="35"/></span>
            <span><button type="button" th:onclick="setCurrentPlayer('uniquePlayerIdA')">claim</button></span>
        </div>
    </div>

    <div class="column brownboard">
        <div id="PlayerBBox" style="display:flex" th:if="${activePlayer != match.playerModelA.uniqueId}">
            <span class="playerBTextColor">Player B:&nbsp;</span>
            <span><input id="uniquePlayerIdB" th:field="${match.playerModelB.uniqueId}" type="text" size="35"/></span>
            <span><button type="button" th:onclick="setCurrentPlayer('uniquePlayerIdB')">claim</button></span>
        </div>
    </div>

</div>
<br/>
<div class="container">
    <div class="column brownboard">
        <span th:if="${match.isPlayerATurn}" class="playerATextColor">PLAYER A TURN</span>
        <span th:if="${!match.isPlayerATurn}" class="playerBTextColor">PLAYER B TURN</span>
        <br/>
        <span id="errorMessageText" th:text="${error}" style="color:red"/>
    </div>
</div>
<br/>
<div class="container">
    <div class="column score brownboard">
            <span id="playerAScore" class="playerBTextColor score"
                  th:text="${'Score: ' + match.playerModelB.totalScore}"></span><br/>
        <span id="playerAScorePool" class="playerBTextColor score" th:text="${match.playerModelB.totalScore}"></span>
    </div>
    <div class="column brownboard">
        <div class="container playerBTextColor">
            <div id="playerBPit1" class="column pointer pit" th:text="${match.playerModelB.pits['FIRST']}"
                 th:onclick="sendCommandGetRequest('FIRST')">FIRST
            </div>
            <div id="playerBPit2" class="column pointer pit" th:onclick="sendCommandGetRequest('SECOND')"
                 th:text="${match.playerModelB.pits['SECOND']}">SECOND
            </div>
            <div id="playerBPit3" class="column pointer pit" th:onclick="sendCommandGetRequest('THIRD')"
                 th:text="${match.playerModelB.pits['THIRD']}">THIRD
            </div>
            <div id="playerBPit4" class="column pointer pit" th:onclick="sendCommandGetRequest('FOURTH')"
                 th:text="${match.playerModelB.pits['FOURTH']}">FOURTH
            </div>
            <div id="playerBPit5" class="column pointer pit" th:onclick="sendCommandGetRequest('FIFTH')"
                 th:text="${match.playerModelB.pits['FIFTH']}">FIFTH
            </div>
            <div id="playerBPit6" class="column pointer pit" th:onclick="sendCommandGetRequest('SIX')"
                 th:text="${match.playerModelB.pits['SIX']}">SIX
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="container playerATextColor">
            <div id="playerAPit1" class="column pointer pit" th:onclick="sendCommandGetRequest('FIRST')"
                 th:text="${match.playerModelA.pits['FIRST']}">FIRST
            </div>
            <div id="playerAPit2" class="column pointer pit" th:onclick="sendCommandGetRequest('SECOND')"
                 th:text="${match.playerModelA.pits['SECOND']}">SECOND
            </div>
            <div id="playerAPit3" class="column pointer pit" th:onclick="sendCommandGetRequest('THIRD')"
                 th:text="${match.playerModelA.pits['THIRD']}">THIRD
            </div>
            <div id="playerAPit4" class="column pointer pit" th:onclick="sendCommandGetRequest('FOURTH')"
                 th:text="${ match.playerModelA.pits['FOURTH']}">FOURTH
            </div>
            <div id="playerAPit5" class="column pointer pit" th:onclick="sendCommandGetRequest('FIFTH')"
                 th:text="${match.playerModelA.pits['FIFTH']}">FIFTH
            </div>
            <div id="playerAPit6" class="column pointer pit" th:onclick="sendCommandGetRequest('SIX')"
                 th:text="${match.playerModelA.pits['SIX']}">SIX
            </div>
        </div>
    </div>
    <div class="column score brownboard">
        <span id="playerBScore" class="playerATextColor" th:text="${'Score: ' + match.playerModelA.totalScore}"></span>
        <br/>
        <span id="playerBScorePool" class="playerATextColor" th:text="${match.playerModelA.totalScore}"></span>
    </div>
</div>
</body>
</html>
<script th:inline="javascript">

    var currentPlayer = '';

    window.onload = onPageLoad;

    function sendCommandGetRequest(value){
        if(currentPlayer === ''){
            alert('You have not claimed a player yet');
            return;
        }

        document.getElementById("hiddenCommandText").value = value;
        document.getElementById("submitCommandButton").click();
    }

    function setCurrentPlayer(value){
        if(value === 'uniquePlayerIdA'){
          currentPlayer = document.getElementById('uniquePlayerIdA').value;
          document.getElementById('PlayerBBox').style.visibility = 'hidden';
        } else if(value === 'uniquePlayerIdB'){
          currentPlayer = document.getElementById('uniquePlayerIdB').value;
          document.getElementById('PlayerABox').style.visibility = 'hidden';
        }
        document.getElementById('activePlayer').value = currentPlayer;
    }

    function getCurrentPlayer(){
        currentPlayer = document.getElementById('activePlayer').value;
    }

    function updateScoreText(){
        let playerAScore = document.getElementById("playerAScorePool").outerText;
        document.getElementById('playerAScorePool').outerText = "[x]".repeat(playerAScore);


        let playerBScore = document.getElementById("playerBScorePool").outerText;
        document.getElementById('playerBScorePool').outerText = "[x]".repeat(playerBScore);
    }

    function refreshPage(){
        let timeToRefreshInMilliseconds = 1000 * 3;

          setInterval(function() {
            if(currentPlayer !== ''){
                document.getElementById("getStatsButton").click();
            }
        }, timeToRefreshInMilliseconds);
    }


    function disableAllPits(){
         document.getElementById("playerAPit1").onclick= null;
         document.getElementById("playerAPit2").onclick= null;
         document.getElementById("playerAPit3").onclick= null;
         document.getElementById("playerAPit4").onclick= null;
         document.getElementById("playerAPit5").onclick= null;
         document.getElementById("playerAPit6").onclick= null;
         document.getElementById("playerBPit1").onclick= null;
         document.getElementById("playerBPit2").onclick= null;
         document.getElementById("playerBPit3").onclick= null;
         document.getElementById("playerBPit4").onclick= null;
         document.getElementById("playerBPit5").onclick= null;
         document.getElementById("playerBPit6").onclick= null;


         document.getElementById("playerAPit1").classList.remove("pointer");
         document.getElementById("playerAPit2").classList.remove("pointer");
         document.getElementById("playerAPit3").classList.remove("pointer");
         document.getElementById("playerAPit4").classList.remove("pointer");
         document.getElementById("playerAPit5").classList.remove("pointer");
         document.getElementById("playerAPit6").classList.remove("pointer");
         document.getElementById("playerBPit1").classList.remove("pointer");
         document.getElementById("playerBPit2").classList.remove("pointer");
         document.getElementById("playerBPit3").classList.remove("pointer");
         document.getElementById("playerBPit4").classList.remove("pointer");
         document.getElementById("playerBPit5").classList.remove("pointer");
         document.getElementById("playerBPit6").classList.remove("pointer");
    }


    function disableNoneActivePlayerCommands(){

        if([[${match.isPlayerATurn && activePlayer == match.playerModelB.uniqueId}]]){
          console.log("Player B should be disabled");
          disableAllPits();
        } else if([[${!match.isPlayerATurn && activePlayer == match.playerModelA.uniqueId}]]){
          console.log("Player A should be disabled");
          disableAllPits();
        }

    }


    function onPageLoad(){
        disableNoneActivePlayerCommands();
        getCurrentPlayer();
        updateScoreText();
        refreshPage();
    }



</script>